In [59]:
import pandas as pd

# Load CSV
df = pd.read_csv("/Users/imperator/Documents/STUDIES/UNIVERSITY OF GHANA/RESEARCH WORK/CORCHIL KELLY KWAME/PORTFOLIO OPTIMIZATION/PROJECT CODE/Dimensionality-Reduction-PortfolioOptimization/New_tests3.csv")
df.head()

,date,id,loan_id,response,status,correlator_id,amount,debit_type,discount,original_amount,discount_status,header_transactions,customer_name,message_transaction_id
0,09/07/2025,60791197595,4790268616,"{""statusCode"":""0000"",""providerTransactionId"":""...",SUCCESSFUL,100175210036694054162,100.00,MONTHLY_REPAYMENT,NaN,NaN,NaN,NaN,NaN,NaN
1,09/07/2025,60788310665,7373579598,"{""statusCode"":""0000"",""providerTransactionId"":""...",SUCCESSFUL,1001752095670760317572,619.18,MONTHLY_REPAYMENT,NaN,NaN,NaN,NaN,NaN,NaN
2,09/07/2025,60782144854,3870275278,"{""statusCode"":""0000"",""providerTransactionId"":""...",SUCCESSFUL,10017520889371399942743,100.00,MONTHLY_REPAYMENT,NaN,NaN,NaN,NaN,NaN,NaN
3,09/07/2025,60780189615,8545964471,"{""statusCode"":""0000"",""providerTransactionId"":""...",SUCCESSFUL,10017520873851833760466,970.35,MONTHLY_REPAYMENT,NaN,NaN,NaN,NaN,NaN,NaN
4,09/07/2025,60779122968,2359427214,"{""statusCode"":""0000"",""providerTransactionId"":""...",SUCCESSFUL,10017520866471630208257,159.61,MONTHLY_REPAYMENT,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
# remove any whitespaces and special characters from column names
# df.columns = df.columns.str.replace(r'\s+', '_', regex=True).str.replace(r'[^\w]', '', regex=True)
# Convert 'Date' column to datetime format
df['date'] = pd.to_datetime(df['date'], errors='coerce')
# add a ymd format
df['date'] = df['date'].dt.strftime('%Y-%m-%d')
#drop columns
#df = df.drop(columns=['Date'], errors='ignore')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5749 entries, 0 to 5748
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    2446 non-null   object
 1   id                      5749 non-null   int64
 2   loan_id                 5749 non-null   int64
 3   response                5658 non-null   object
 4   status                  5749 non-null   object
 5   correlator_id           5749 non-null   object
 6   amount                  5749 non-null   float64
 7   debit_type              5749 non-null   object
 8   discount                1001 non-null   float64
 9   original_amount         1001 non-null   float64
 10  discount_status         1001 non-null   float64
 11  header_transactions     944 non-null    float64
 12  customer_name           1252 non-null   object
 13  message_transaction_id  1252 non-null   float64
dtypes: float64(6), int64(2), object(6)
memory usage: 628.9+ KB

In [55]:
df.head()

,date,id,loan_id,response,status,correlator_id,amount,debit_type,discount,original_amount,discount_status,header_transactions,customer_name,message_transaction_id
0,09/07/2025,60791197595,4790268616,"{""statusCode"":""0000"",""providerTransactionId"":""...",SUCCESSFUL,100175210036694054162,100.00,MONTHLY_REPAYMENT,NaN,NaN,NaN,NaN,NaN,NaN
1,09/07/2025,60788310665,7373579598,"{""statusCode"":""0000"",""providerTransactionId"":""...",SUCCESSFUL,1001752095670760317572,619.18,MONTHLY_REPAYMENT,NaN,NaN,NaN,NaN,NaN,NaN
2,09/07/2025,60782144854,3870275278,"{""statusCode"":""0000"",""providerTransactionId"":""...",SUCCESSFUL,10017520889371399942743,100.00,MONTHLY_REPAYMENT,NaN,NaN,NaN,NaN,NaN,NaN
3,09/07/2025,60780189615,8545964471,"{""statusCode"":""0000"",""providerTransactionId"":""...",SUCCESSFUL,10017520873851833760466,970.35,MONTHLY_REPAYMENT,NaN,NaN,NaN,NaN,NaN,NaN
4,09/07/2025,60779122968,2359427214,"{""statusCode"":""0000"",""providerTransactionId"":""...",SUCCESSFUL,10017520866471630208257,159.61,MONTHLY_REPAYMENT,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# Save back
df.to_csv("New_tests3.csv", index=False)